<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="/img/logo.png" alt="Venue Logo">
                    </div>
                    <p></p>
                    <ul class="social-icons">
                        <li>
                            <a href="https://github.com/meghgala"><i class="fa fa-github"></i></a>
                            <a href="https://www.instagram.com/galamegh?igsh=b2c4bWlubmlxOXJn"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/megh-gala/"><i class="fa fa-linkedin"></i></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="/signup"><i class="fa fa-stop"></i>Register</a></li>
                                <li><a href="/login"><i class="fa fa-stop"></i>Login</a></li>
                                <li><a href="https://github.com/meghgala"><i class="fa fa-stop"></i>My Profile</a></li>
                                <li><a href="/contactus"><i class="fa fa-stop"></i>How It Works?</a></li>
                                <li><a href="/contactus"><i class="fa fa-stop"></i>More About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p>Have a question or suggestion? Reach out to us at the following email address:</p>
                    <ul>
                        <li><span>Email:</span><a href="#">megh.gala765@gmail.com</a></li>
                        <li><span>Address:</span><a href="#">Uppsala, Sweden</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>