<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/recipeform.css">
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/recipelist.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <title>About us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header id="header">
    <ul class="nav">
        <li><a href="/index"><img src="/img/logo.png" alt="Logo" class="logo"></a></li>
        <% if (!userid) { %>
        <li><a class="nav li" href="/login">Login</a></li>
        <li><a class="nav li" href="/signup">Signup</a></li>
        <li><a class="nav li" href="/viewrecipe">Recipes</a></li>
        <li><a class="nav li" href="/contactus">Contact Us</a></li>
        <% } else {%>
        <li><a class="nav li" href="/viewrecipe">My Recipes</a></li>
        <li><a class="nav li" href="/inputrecipe">Give Recipe</a></li>
        <li><a class="nav li" href="/contactus">About Us</a></li>
        <li><a class="nav li" href="/logout">Log Out</a></li>
        <% } %>
    </ul>
</header>
<div class="about">
    <p class="title">About Us</p>
    <div class="container">
        <div class="row justify-content-center">
                <div class="about-card-body">
                    <p class="card-text">Welcome to our recipe-sharing platform! This website was born out of a passion for cooking and a desire to create a community around delicious homemade dishes. Developed as a hobby project and hosted on a free server, our platform serves as both a recipe repository and a source of culinary inspiration.
                    <br><br>By creating an account, you gain access to a variety of features. You can upload your own recipes, allowing you to easily store and share your culinary creations. While logged in, you can also view your own recipes, making it convenient to access your favorite dishes anytime, anywhere. Additionally, you have the opportunity to explore recipes shared by other users, providing endless inspiration for your next culinary adventure.
                    <br><br>For those who haven't created an account, fear not! You can still browse and explore the wide array of recipes available on our platform. However, to fully experience the benefits of our website, including recipe uploading and personalized recipe viewing, we encourage you to sign up.
                    <br><br>To ensure a seamless experience, our website utilizes a basic JWT cookie to store your session for up to three days, allowing you to navigate the platform effortlessly.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128317.51610951223!2d17.493299679946176!3d59.833176044934554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbfb8532ab8d%3A0xaa4fe90a85820807!2sUppsala!5e0!3m2!1sen!2sse!4v1707479969916!5m2!1sen!2sse" frameborder="0" style="border:0; height:55em; width: 90em; border-radius: 10px;"></iframe>
                </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/datepicker.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>
