<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/recipeform.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/recipeform.css">
    </head>

<body>
    <div class="wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="primary-nav-button" type="button">Menu</button>
                      <!--  <a href="index.html"><div class="logo">
                            <img src="img/logo.png" alt="Venue Logo">
                        </div></a>-->
                        <nav id="primary-nav" class="dropdown cf">
                            <ul class="dropdown menu">
                                <li class='active'><a href="/index">Home</a></li>
                                <li><a class="scrollTo" href="/viewrecipe">View Recipes</a></li>
                                <li><a class="scrollTo" data-scrollTo="contact" href="/contactus">Contact Us</a></li>
                            </ul>
                        </nav><!-- / #primary-nav -->
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <form name="input_recipe">
                <div class="card p-4" style="background-color: #aad2ba;">
                    <div class="section-heading"><h2 class="text-center">Recipe Form</h2></div>
                    <hr>

                    <!-- Recipe Title -->
                    <div class="form-group">
                        <label class="label-content" for="recipeTitle">Recipe Title</label>
                        <input type="text" class="form-control" id="recipeTitle" placeholder="Enter Recipe Title">
                    </div>

                    <!-- Recipe Description -->
                    <div class="form-group">
                        <label class="label-content" for="recipeDescription">Recipe Description</label>
                        <textarea class="form-control" id="recipeDescription" rows="3" placeholder="Enter Recipe Description"></textarea>
                    </div>

                    <!-- Image Upload -->
                    <div class="form-group">
                        <label class="label-content" for="image">Image</label>
                        <input type="text" class="form-control" id="image" placeholder="Enter Image URL">
                    </div>
                    <hr>
                    <!-- Ingredients -->
                    <label class="label-content">Ingredients</label>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="ingredient" placeholder="Ingredient">
                        <div id="ingredientsContainer"></div>
                        <!-- Add more ingredients fields -->
                        <button type="button" class="add_bttn" id="addIngredient">Add +</button>
                    </div>
                    <hr>
                    <!-- Steps -->
                    <label class="label-content">Steps</label>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="steps" placeholder="Step">
                        <div id="stepsContainer"></div>
                        <!-- Add more steps fields -->
                        <button type="button" class="add_bttn" id="addStep">Add +</button>
                    </div>
                    <hr>
                    <!-- Additional Details -->
                    <label class="label-content">Additional Details</label>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="calories">Calories</label>
                            <input type="text" class="form-control" id="calories">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="servings">Servings</label>
                            <input type="text" class="form-control" id="servings">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="prepTime">Prep Time</label>
                            <input type="text" class="form-control" id="prepTime">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cookingTime">Cooking Time</label>
                            <input type="text" class="form-control" id="cookingTime">
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center mt-4">
                        <button type="submit" class="add_bttn">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        // Add more ingredient fields
        $('#addIngredient').click(function () {
            $('#ingredientsContainer').append('<input type="text" class="form-control mb-2" id="ingredient" placeholder="Ingredient">');
        });

        // Add more step fields
        $('#addStep').click(function () {
            $('#stepsContainer').append('<input type="text" class="form-control mb-2" id="steps" placeholder="Step">');
        });
    </script>
    <script>
        const form = document.querySelector('form[name="input_recipe"]')
        form.addEventListener('submit',async (e) => {
        e.preventDefault();
        // get values
        const recipeTitle = form.recipeTitle.value;
        const recipeDescription = form.recipeDescription.value;
        const imageURL = form.image.value;
        const ingredients = [];
        document.querySelectorAll('input[id="ingredient"]').forEach((ingredientInput) => {
            const ingredient = ingredientInput.value;
            if (ingredient) {
                ingredients.push(ingredient);
            }
        });

        // Get steps as an array of strings
        const steps = [];
        document.querySelectorAll('input[id="steps"]').forEach((stepInput) => {
            const step = stepInput.value;
            if (step) {
                steps.push(step);
            }
        });

        const calories = form.calories.value;
        const servings = form.servings.value;
        const prepTime = form.prepTime.value;
        const cookingTime = form.cookingTime.value;

        try{
            const res = await fetch('/inputrecipe',{
                method: 'POST',
                body: JSON.stringify({recipeTitle:recipeTitle, recipeDescription:recipeDescription,imageURL:imageURL,ingredients:ingredients,steps:steps,calories:calories,servings:servings,prepTime:prepTime,cookingTime:cookingTime}),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json();
            console.log(data)
            if (data) {
                location.assign('/index');
            }

        }
        catch(err){
            console.log(err)
        }
        })
    </script>
    </body>
    </html>