<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Add your custom CSS for styling -->
    <style>

    @import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

        :root {
            --yellow2: #ffd900;
            --green2: #0e6e1a;
        }
        body {
            font-family: 'Signika', sans-serif;
            background-color: var(--yellow2);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .login-container {
            background-color: var(--green2);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            position: relative; /* Add position relative */
        }

        .form-group {
            margin-bottom: 15px;
        }

        h2{
            color: var(--yellow2);
        }

        label {
            font-weight: bold;
            color: var(--yellow2);
        }

        input[type="text"],
        input[type="password"] {
            width: 90%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: var(--yellow2);
            color: var(--green2);
            border: none;
            border-radius: 5px;
            font-weight: bold;
            padding: 10px 20px;
            cursor: pointer;
        }

        .btn-primary:hover {
            color: var(--yellow2);
            background-color: var(--green2);
            border:1px solid var(--yellow2) ;
        }
        .logo {
            width: 300px; 
            height: auto; /* Maintain aspect ratio */
            position: absolute; /* Position absolutely */
            top: calc(30% - 148px); /* Adjust as needed */
            left: calc(50% - 148px); /* Center horizontally */
        }
        .back{
            padding-top: 0.5em;
        }
        .back a{
            color: var(--yellow2);
        }
    </style>
</head>
<body>
    <img src="/img/logo.png" alt="Logo" class="logo">
        <div class="login-container">
        <h2>Login</h2>
        <form name="login">
            <div class="form-group">
                <label for="email">Email ID:</label>
                <input type="text" id="email" placeholder="Enter username">
                <span id="emailError" class="error"></span>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter password">
                <span id="passwordError" class="error"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="back"> <a href="index">Back</a> </div>
            
        </form>
    </div>
</body>

<script>
    const form = document.querySelector('form[name="login"]')

    form.addEventListener('submit',async (e) => {
    e.preventDefault();
    //clear errors
    document.getElementById('emailError').textContent = '';
    document.getElementById('passwordError').textContent = '';
    // get values
    const email = form.email.value;
    const password = form.password.value;

    try{
        const res = await fetch('/login',{
            method: 'POST',
            body: JSON.stringify({email:email,password:password}),
            headers: {'Content-Type': 'application/json'}
        })
        const data = await res.json();
        //console.log(data)

        if (data.errors) {
            if (data.errors.username) {
                // Display username error
                document.getElementById('usernameError').textContent = data.errors.username;
            }
            if (data.errors.email) {
                // Display email error
                document.getElementById('emailError').textContent = data.errors.email;
            }
            if (data.errors.password) {
                // Display password error
                document.getElementById('passwordError').textContent = data.errors.password;
            }
        }
        
        if(data.user){
            location.assign('/index')
        }
    }
    catch(err){
        console.log(err)
    }
    })
</script>

</html>
