@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Signika:wght@500&display=swap');


.line {
    height: 4px; /* Set height of the line */
    background-color: var(--green2); /* Set color of the line */
    width: 100%; /* Set width to 100% */
    margin-top: -5.5%;
}
.featured-recipes {
  animation: bounceFadeIn 1.5s ease-out;
  padding-bottom: 80px;
  width: 100%;
  background-color: var(--yellow2);
}

.featured-recipes .featured-item {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.featured-recipes .featured-item .thumb {
  position: relative;
  z-index: 1;
  flex: 1; 
}

.featured-recipes .featured-item .thumb img {
  width: 100%;
  overflow: hidden;
  height: 30em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.featured-recipes .featured-item .down-content {
  background-color: var(--green2);
  box-shadow: 0px 5px 15px rgba(0,0,0,1.1);
  padding: 20px 20px 0px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.featured-recipes .featured-item .down-content h4 {
  font-family: 'Signika','sans-serif';
  margin-top: 0px;
  font-size: 35px;
  font-weight: 600;
  color: var(--yellow2);
  margin-bottom: 5px;
}

.featured-recipes .featured-item .down-content p {
  font-family: 'Dosis','sans-serif';
  margin-bottom: 20px;
  font-size: 18px;
  height: 75px; 
  overflow: hidden;
}

.featured-recipes .featured-item .down-content .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.featured-recipes .featured-item .down-content .text-button {
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: 0px -5px;
}

.featured-recipes .featured-item .down-content .first-button {
  border-right: 1px solid #ddd;
  border-bottom-left-radius: 5px;
}

.featured-recipes .featured-item .down-content .text-button a {
  border-bottom-left-radius: 5px;
  font-family: 'Dosis','sans-serif';
  font-size: 18px;
  text-transform: uppercase;
  color: var(--green2);
  background-color: var(--yellow2) ;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  transition: all 0.5s;
}

.featured-recipes .featured-item .down-content .text-button a:hover {
  color: var(--yellow2);
  background-color: var(--green2);
  border:1px solid var(--yellow2) ;
}
  
  .recipe-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    color: var(--yellow2);
}


@media screen and (max-width: 1920px) {
    /* Adjust styles for 1080p monitors */
    .line {
        height: 4px; /* Set height of the line */
        background-color: var(--green2); /* Set color of the line */
        width: 100%; /* Set width to 100% */
        margin-top: -4.4%;
    }
}

@media screen and (max-width: 1536px) {
    /* Adjust styles for 15-inch laptop screens */
    .line {
        height: 4px; /* Set height of the line */
        background-color: var(--green2); /* Set color of the line */
        width: 100%; /* Set width to 100% */
        margin-top: -5.5%;
    }
}

@media screen and (max-width: 1366px) {
    /* Adjust styles for 13-inch laptop screens */
    .line {
        height: 4px; /* Set height of the line */
        background-color: var(--green2); /* Set color of the line */
        width: 100%; /* Set width to 100% */
        margin-top: -5.5%;
    }
}